@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="login box">
        
        <h3>Log In</h3>
        <form action="Login" method="post">
            <label for="emaill">Email:</label>
            <input id="emaill" type="email" name="Email"><br>

            <label for="passwordl">Password:</label>
            <input id="passwordl" type="password" name="PwToCheck"><br><br>

            <input type="submit" value="Log In" class="btn btn-success">
        </form><br><br><br><br><br>

        <a href="/">Register</a>
    </div>
</div>